// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image1{
  background: image_url('../pharmacist1.jpg');
  float:right;
  height: 70%;
}
